<div class="feature__wrapper" style="border-bottom: 1px solid #000;">
  <h1>What we offer our bike shop partners</h1>
    <div style="display: flex;">
      <div style="flex-grow: 1;">
        <h2>Quicker Turn Around Times</h2>
        <p>Our B2B partners get priority service for quick turnaround times. Shops in eastern Oregon, Washington, and western Idaho benefit from faster transit times as well.</p>
        <h2>Retain Margins</h2>
        <p>B2B partners benefit from special wholesale pricing on both service and service parts.</p>
        <h2>No Repair Minimums</h2>
        <p>Whether you need one shock rebuilt a month or you're sending us suspension weekly, we're here to support you.</p>
        <h2>Support and Tuning Help</h2>
        <p>Need advice? Troubleshooting help? Looking to get a rider set up with a custom tune? Whatever support you may need, we’re here to help and lend our expertise. We’re always just one call or email away.</p>
      </div>
      <div style="flex-grow: 1;">
        <img src="/assets/images/x2.jpg">
      </div>
    </div>
</div>

<div class="feature__wrapper" style="border-bottom: 0;" id="contact">
  <div style="display: flex;">
    <div style="flex-grow: 1; max-width: 50%">
      <h1>How it works</h1>
      <h2>Step 1</h2>
      <p>Fill out that form! We’ll get an account setup for you and a price list sent over with our B2B rates.</p>
      <h2>Step 2</h2>
      <p>Once we have your account setup, we'll confirm service requests with your shop. From there you can ship us or drop off all suspension components due for service.</p>
      <h2>Step 3</h2>
      <p>We’ll service your suspension according to the service requested. Once we’re finished we’ll contact you for payment. From there you can pick it up or we’ll ship it back to you! Shipping to/from Eastern Wheelworks is the shop’s responsibility.</p>
    </div>
    <div style="flex-grow: 1;">
      <form id="fs-frm" name="survey-form" accept-charset="utf-8" action="https://formspree.io/f/mjvqgngy" method="post">
        <fieldset id="fs-frm-inputs">
          <label for="shop-name">Shop Name</label>
          <input type="text" name="shop" id="shop-name" placeholder="" required="">
          <label for="contact-name">Contact Name</label>
          <input type="text" name="name" id="contact-name" placeholder="First and Last" required="">
          <label for="phone">Phone Number</label>
          <input type="tel" name="phone" id="phone" placeholder="541-786-5523" required="">
          <label for="email-address">Email Address</label>
          <input type="email" name="_replyto" id="email-address" placeholder="email@domain.tld" required="">
          <label for="message">Additional Details</label>
          <textarea rows="3" name="message" id="message" placeholder="Anything else you'd like us to know?" required=""></textarea>
          <input type="hidden" name="_subject" id="email-subject" value="B2B Request">
        </fieldset>
        <input type="submit" value="Send">
      </form>
    </div>
  </div>
</div>
<div class="feature__wrapper" style="border-bottom: 0;">
  <img src="/assets/images/suspension-brands.png">
</div>

<div class="feature__wrapper" style="border-bottom: 0;">
  <h3 style="text-align: center;">Questions? <br><br> Contact <a href="mailto:sean@easternwheelworks.com">sean@easternwheelworks.com</a> or give us a ring.</h3>
</div>
