<div class="feature__wrapper">
    <div class="feature__item">
      <div class="archive__item">
          <div class="archive__item-teaser">
            <img src="/assets/images/pivot-logo.png" alt="Pivot Cycles">
          </div>
        <div class="archive__item-body">
            <h2 class="archive__item-title">Pivot Cycles</h2>
            <div class="archive__item-excerpt">
              <p>Founded in 2007, Pivot’s goal has always been to to design and build the world’s best performing bicycles.</p>
            </div>
        </div>
      </div>
    </div>
    <div class="feature__item">
      <div class="archive__item">
          <div class="archive__item-teaser">
            <img src="/assets/images/esker-logo2.png" alt="Esker Cycles">
          </div>
        <div class="archive__item-body">
            <h2 class="archive__item-title">Esker Cycles</h2>
            <div class="archive__item-excerpt">
              <p>At the core of Esker’s design and product philosophy is making bikes that you will enjoy throughout the entire ride, no matter where the trail takes you.</p>
            </div>
        </div>
      </div>
    </div>
</div>

<div class="feature__wrapper" style="border-bottom: 0;">
  <div class="feature__item" style="width: 32%;">
    <div class="archive__item">
      <div class="archive__item-teaser">
        <img src="/assets/images/sapim-logo.png" alt="">
      </div>
    </div>
  </div>

  <div class="feature__item" style="width: 32%;">
    <div class="archive__item">
      <div class="archive__item-teaser">
        <img src="/assets/images/weareone-logo.png" alt="">
      </div>
    </div>
  </div>

  <div class="feature__item" style="width: 32%;">
    <div class="archive__item">
      <div class="archive__item-teaser">
        <img src="/assets/images/spank-ind-logo.png" alt="">
      </div>
    </div>
  </div>
</div>

<div class="feature__wrapper" style="border-bottom: 0;">
  <div class="feature__item" style="width: 32%;">
    <div class="archive__item">
      <div class="archive__item-teaser">
        <img src="/assets/images/son-logo.png" alt="">
      </div>
    </div>
  </div>

  <div class="feature__item" style="width: 32%;">
    <div class="archive__item">
      <div class="archive__item-teaser">
        <img src="/assets/images/sinewave-cycles-logo.png" alt="">
      </div>
    </div>
  </div>
</div>
