<div class="feature__wrapper" style="border-bottom: 0;" id="contact">
  <h2 style="text-align: center;">Have a question about our services or need a specialized quote?</h2>

    <p style="text-align: center;">
      <a href="/request-service-form" class="btn btn--primary btn--x-large">Schedule Suspension Service</a>
    </p>
  <form
  action="https://formspree.io/f/mdopbypk"
  method="POST"
  class="form"
  style="width: 80%; margin: 0 auto;"
  >
  <p>Let me know what you're thinking. We ship everywhere.</p>
  <div class="form-group">
    <label>
      Name:
      <input type="text" name="name" style="background: #fefefe; color: #0e0e0e;" required>
    </label>
  </div>
  <div class="form-group">
    <label>
      Email:
      <input type="text" name="_replyto" style="background: #fefefe; color: #0e0e0e;" required>
    </label>
  </div>
  <div class="form-group">
    <label>
      Message:
      <textarea name="message" style="background: #fefefe; color: #0e0e0e; height: 150px;" required></textarea>
    </label>
  </div>
  <button type="submit" class="btn btn--info">Send</button>
</form>
</div>
