<div class="feature__wrapper" style="border-bottom: 0;">
  <div class="feature__wrapper" style="border-bottom: 0;">
    <div style="display: flex;">
      <div style="flex-grow: 1;">
        <h3>Reserve online for pick-up at Eastern Wheelworks in La Grande</h3>
        <p>Use the form below to check real-time availability and complete your reservation online. Please review and sign our rental policies when booking your reservation!</p>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.1.1/iframeResizer.min.js"></script>
<div>
  <iframe
    title="Live booking"
    id="brm-online-booking"
    src="https://us.bikerentalmanager.com/book.html?shop=easternwheelworks&iframe_resizer=4.1.1"
    style="width: 1px; min-width: 100%"
    frameborder="no"
    scrolling="no"
  ></iframe>
</div>
<script type="text/javascript">
  iFrameResize(
    {
      heightCalculationMethod: 'taggedElement',
      checkOrigin: false,
    },
    '#brm-online-booking'
  );
</script>

<h4>What to bring</h4>
        <p>Demo bikes come with flat pedals. If you prefer to use your own pedals, bring them and we’re happy to install them for you.</p>
        <p>We offer helmets with bike rental, free of charge. All demo riders must wear a helmet. We strongly recommend you bring all your normal riding gear, protection, and accessories that you  normally ride with. Traveling without your ride kit? We have gear & protection for sale at the shop!</p>
        <p>We don’t have bike racks to rent. If you are planning on transporting a bike, you must have a way to properly transport it, store it, and secure it.</p>
        <p>In order to demo a bicycle at Eastern Wheelworks, please have your <b>ID and Credit Card</b> with you upon bike pick up. You must sign a liability waiver. Riders under the age of 18 must have a parent present to sign a liability waiver.</p>
        <h4>Cancellations & Charges</h4>
        <p>We try to be as understanding and accommodating of circumstances as possible with our rentals and reservations. We know ‘it happens’ and aim to work with riders, however: </p>
        <p><b>Riders will be charged for any and all damages or losses that occur to any bicycles, gear, or parts during your rental.</b></p>
        <p>If you would like to modify or cancel your reservation, you must call and chat with someone on our team or email sean@easternwheelworks.com before 3:00 PM the day before your reservation.</p>
        <p>Cancellations after the aforementioned cutoff will be charged for the full rental.</p>
        <h4>Returns & Timing</h4>
        <p>Rentals must be returned by 4pm (when the shop closes) on the last day of their rental or you will be charged for an additional rental day.</p>
        <p>Returns on Sunday - Tuesday must be scheduled ahead of time.</p>
        <h4>Ride Before You Buy Program</h4>
        <p>Who doesn’t like to try a bike on familiar trails before buying? Turn your dollars spent on demos into credit towards your new bike.</p>
        <p>A rider can apply up to $500 in demo credit toward a bike up to 10% of a bike’s MSRP. *Does not apply to sale bikes.</p>
      </div>
      
    </div>
  </div>
</div>
