<div class="feature__wrapper" style="border-bottom: 0;">
  <div class="feature__wrapper" style="border-bottom: 0;">
    <div style="display: flex;">
      <div style="flex-grow: 1;">
        <p>We currently have the following bikes available to rent:</p>
        <ul>
          <li>Banshee Rune (S, M, L, XL)</li>
          <li>Banshee Legend 27.5 (L)</li>
        </ul>
      </div>
      <div style="flex-grow: 1; max-width: 500px;">
        <img src="/assets/images/banshee-rune.jpg">
      </div>
    </div>
  </div>
</div>
