<div class="feature__wrapper" style="border-bottom: 0;">
  <div class="feature__item">
    <h3>Get in touch</h3>
    <ul class="social-icons" style="margin: 0; padding: 0; list-style-type: none;">
      {% if site.footer.links %}
        {% for link in site.footer.links %}
          {% if link.label and link.url %}
            <li style="padding-top: 5px; padding-bottom: 5px; font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif; font-size: 0.75em; text-transform: none;"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true" style="color: #fff6fb;"></i> <a href="{{ link.url }}" rel="nofollow noopener noreferrer">{{ link.label }}</a></li>
          {% endif %}
        {% endfor %}
      {% endif %}

      <!-- <li><a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"><i class="fas fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a></li> -->
    </ul>
  </div>

  <div class="feature__item">
    <h3>Opening hours</h3>
    <p style="font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif;font-size: 0.75em;">Wed - Sun &middot; 9 - 4.<br>By appointment only.<br>Please contact us by text or email<br>to schedule an appointment.</p>
  </div>

  <div class="feature__item">
    <h3>&nbsp;</h3>
    <p style="font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif;font-size: 0.75em;">1211 Washington Ave<br>La Grande, OR 97850</p>
  </div>
</div>

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }} &middot; La Grande, OR</div>