<div class="feature__wrapper" style="border-bottom: 0;">
    <div style="display: flex;">
      <div style="flex-grow: 1; max-width: 50%; padding-right: 10px;">
        <h1>Request Suspension Service</h1>
<h2>Step 1</h2>

<p>It’s a simple process of filling out this service request form and providing us with some details & specifics.</p>

<p>Here’s the info you’ll need before diving in:</p>
  <ul>
    <li>Bike make, model, and year</li>

    <li>the make and model of your suspension component(s)</li>

    <li>Serial number of your fork and/or shock - This allows us to create a more accurate estimate for your service</li>
  </ul>

<h2>Step 2</h2>

<p>Once the form is filled out, we’ll get back to you ASAP with a price estimate and recommended services.</p>

<p>From there you can submit a $50 deposit to schedule your spot in the service queue. Once your suspension or bike arrives at the shop, we’ll get to work on your suspension!</p>

<p>~ If sending in your suspension, sending us shipping details will get you in the schedule ~</p>

<h2>Step 3</h2>

<p>Next up, pack up your suspension and ship it to us at 711 Adams Ave, La Grande, Oregon 97850</p>

<p>If you’re local to eastern Oregon, feel free to drop off your suspension (or bike) at our shop at 711 Adams Ave, La Grande, Oregon (during our business hours)</p>

<p>Not sure how to remove your suspension component? Locals, we can help here at the shop! If you’re shipping in your components, check out our FAQ for guides.</p>

<p>~ Please Note: If you intend to drop off your bike at Eastern Wheelworks, we take a look at the whole bike and will advise you if any other service on the bike is recommended. This is part of our holistic approach towards looking at ‘the whole bike’ beyond just suspension - And to also identify any excessive wear or safety hazards ~</p>

<h2>Step 4</h2>
<p>This part's on us. We’ll treat your suspension to first-class service. Once we’re finished we’ll contact you for payment</p>

<p>From there you can pick it up or we’ll ship it back to you! Please note - shipping to/from Eastern Wheelworks is the rider’s responsibility.</p>

      </div>
      <div style="flex-grow: 1;">
        <div data-tf-live="01HZJRM540Y7DX6VB0FASGV7PV"></div><script src="//embed.typeform.com/next/embed.js"></script>
      </div>
    </div>
</div>
