<div class="feature__wrapper" style="border-bottom: 0;">
  <p>May is Bike Month, and this year I'm challenging you to ditch your rig and ride to the trails.</p>

  <p>Eastern Wheelworks will be raffling off prizes all month long, and the only way to enter is to ride up from town.</p>

  <h3>How will this work?</h3>How will this work?

  <p>I’ve set up a <a href="https://www.strava.com/segments/31642386?filter=overall">Strava segment</a> that starts at the base of Owsley and ends just before the turn into the trailhead. We’ll use that to track who is riding from town and how many times you do it. The more you ride up, the more chances you have to win.</p>

  <h3>What can you win?</h3>

  <p>Free demos on our new Banshee Runes, suspension service, bike maintenance kits, and at the end of the month we’ll have two sets of Maxxis tires of your choosing. One will be raffled off, and one will go to the person who rides up the most.</p>

  <p>And if you ride up from town more than me, I’ve got a special prize for you.</p>

  <p>For your rides to be counted, you’ll need to track them with Strava and make them public.
  </p>
</div>
