<div class="feature__wrapper" style="border-bottom: 0;">
  <h2>Our Specialties</h2>
  <ul>
    <li style="display: inline;">Wheel Builds, </li>
    <li style="display: inline;">Suspension Service, </li>
    <li style="display: inline;">Mountain Bike Pivot Service, </li>
    <li style="display: inline;">Dynamo Lighting, </li>
    <li style="display: inline;">Tubeless Setup, </li>
    <li style="display: inline;">Custom Builds & Mods, </li>
    <li style="display: inline;">Rider Comfort</li>
</ul>
  <p style="text-align: center;">
    <a href="https://site.booxi.com/easternwheelworks" class="btn btn--primary btn--x-large" target="_blank" rel="noopener noreferrer">Schedule Service</a>
  </p>
</div>
