<div class="feature__wrapper" style="border-bottom: 0;">
<p>We are a full service mountain bike service center capable of any repairs necessary for your mountain bike.</p>
  <h2>Our Specialties</h2>
  <ul>
    <li style="display: inline;">Custom Wheel Builds, </li>
    <li style="display: inline;">Full Suspension Service (including vacuum bleeds and nitrogen charges), </li>
    <li style="display: inline;">Pivot Overhauls, </li>
    <li style="display: inline;">Dropper Post Rebuilds, </li>
    <li style="display: inline;">Dynamo Lighting, </li>
    <li style="display: inline;">Brake Bleeds, </li>
    <li style="display: inline;">Tubeless and Cush Core Setup, </li>
    <li style="display: inline;">Custom Builds &amp; Mods, </li>
    <li style="display: inline;">All other standard bicycle tuning and repair, </li>
    <li style="display: inline;">Rider Comfort</li>
</ul><p style="text-align: center;">
    <a href="https://site.booxi.com/easternwheelworks" class="btn btn--primary btn--x-large" target="_blank" rel="noopener noreferrer">Schedule Service</a>
  </p>
</div>
