<div class="feature__wrapper" style="border-bottom: 0;">
    <h1>Services</h1>
    <div style="display: flex;">
      <div style="flex-grow: 1;">
        <ul>
            <li>Factory Level Suspension Service <br>(including vacuum bleeds and nitrogen charges)</li>
            <li>Suspension Tuning and Personalized Set-up</li>
            <li>Pivot Overhauls</li>
            <li>Dropper Post Rebuilds</li>
            <li>Custom Wheel Builds</li>
            <li>Brake Bleeds</li>
            <li>Tubeless and CushCore Set-up</li>
            <li>All other standard bicycle tuning and repair</li>
        </ul>
      </div>
      <div style="flex-grow: 1; max-width: 500px;">
        <img src="/assets/images/ohlins.jpg">
      </div>
    </div>
</div>

<div class="feature__wrapper" id="quote" style="border-bottom: 1px solid black;">
  <h2>Schedule service or an in-person appointment at the shop</h2>
  <div style="margin: 0 auto;">
    <p>If you need your bike tuned-up, suspension serviced, or a new set of wheels, come by the shop or ship us your suspension. No appointment needed, but for faster turnaround times, schedule your service! Or just come by during our regular hours: Wednesday - Saturday, 9 - 4.</p>
    
    <p style="text-align: center;">
      <a href="https://site.booxi.com/easternwheelworks" class="btn btn--primary btn--x-large" target="_blank" rel="noopener noreferrer">Schedule Service</a>
    </p>
  </div>
</div>

<div class="feature__wrapper" style="border-bottom: 1px solid black;">
  <h1>Service Your Fork</h1>
  <p>Please note, listed rates are for labor only, they do not include parts (seal kits, damper shaft, shims, etc) - This will vary from fork to fork</p>

  <div style="display: flex;">
    <div style="flex-grow: 1; flex-basis: 33%;">
      <h2>50 Hour Service <br> <small>$60</small></h2>
      <p>What's included in your service:</p>
      <ul>
        <li>Thorough cleaning and inspection of fork exterior for damage and wear. Check for proper function</li>
        <li>Drop fork lowers, clean  and inspect stanchions and lower legs for wear</li>
        <li>Replace dust wipers and foam rings. Lube bushings and seals.</li>
        <li>Fork reassembly and fresh oil in lowers.</li>
        <li>Previous damper and spring settings restored</li>
        <li>If bike is here, re-install fork on bike. Includes brake caliper alignment & headset preload. Torque to factory spec.</li>
      </ul>
    </div>

    <div style="flex-grow: 1; flex-basis: 33%;">
      <h2>125 Hour Service <br> <small>$130</small></h2>
      <p>What's included in your service:</p>
      <ul>
        <li>Thorough cleaning and inspection of fork exterior for damage and wear. Check for proper function</li>
        <li>Drop fork lowers, clean  and inspect stanchions and lower legs for wear</li>
        <li>Replace dust wipers and foam rings. Lube bushings and seals.</li>
        <li>Complete damper disassembly. Inspect damper components (valves, shims, seal head, springs, etc) for wear or damage, replace accordingly. Replace all o-rings and glide rings.</li>

        <li>Damper reassembly (bleed damper with vacuum pump if applicable)</li>
        <li>Airspring disassembly, replacing all o-rings and glide rings. Lube and reassemble.</li>
        <li>Fork reassembly and fresh oil in lowers.</li>
        <li>Previous damper and spring settings restored</li>
        <li>If bike is here, re-install fork on bike. Includes brake caliper alignment & headset preload. Torque to factory spec.</li>
      </ul>
    </div>
  </div>
   <div>
     <h2>Custom Tuning & Upgrades</h2>
        <ul>
          <li>Upgrade your current fork to the latest damper or the latest spring. Specialty dampers available from Push and Vorsprung as well.</li>

          <li>Convert your fork from air to coil with kits from Push Industries or Vorsprung. Other spring upgrades available. Other upgrades available, inquire for details or let us know if you're looking for something specific.</li>
      </ul>
    </div>
</div>

<div class="feature__wrapper" style="border-bottom: 0;">
  <h1>Service Your Shock</h1>
  <p>Please note, listed rates are for labor only, they do not include parts (seal kits, damper shaft, shims, etc) - This will vary from shock to shock</p>

  <div style="display: flex;">
    <div style="flex-grow: 1; flex-basis: 33%;">
      <h2>50 Hour Service <br> <small>$60</small></h2>
      <p>What's included in your service:</p>
      <ul>
        <li>Thorough cleaning and inspection of shock exterior for damage and wear. Check for proper function</li>
        <li>Replace seals and glide rings (including air can if applicable)</li>
        <li>Fresh oil and re-assembly</li>
        <li>Previous damper and spring settings restored</li>
        <li>New shock DU bushings and eyelet hardware replaced if worn or upon request</li>
        <li>If bike is here, re-install shock on bike and torque shock hardware to spec</li>
        <li>NOTE: Fox Float X2 can only be fully rebuilt due to its design.</li>
      </ul>
    </div>

    <div style="flex-grow: 1; flex-basis: 33%;">
      <h2>125 Hour Service <br> <small>$130</small></h2>
      <p>What's included in your service:</p>
      <ul>
        <li>Thorough cleaning and inspection of shock exterior for damage and wear. Check for proper function</li>
        <li>Complete disassembly and teardown of shock body and internals. Isolate every component of the shock, nothing goes untouched (shim stacks, bearing assembly, base valve, stanchions, damper piston, adjuster assemblies, etc)</li>
        <li>Inspect damper components for wear or damage, replace components as necessary</li>
        <li>Replace all seals, o-rings, glide rings, and bushings</li>
        <li>Lube components and re-assemble</li>
        <li>Bleed damper with  vacuum pump</li>
        <li>Dyno test for proper damper function</li>
        <li>Previous damper and spring settings restored</li>
        <li>New shock DU bushings and eyelet hardware if worn or upon request</li>
        <li>If bike is here, re-install shock on bike and torque shock hardware to spec</li>
      </ul>
    </div>
  </div>
</div>

<div class="feature__wrapper" style="border-bottom: 0;">
    
      
        <img src="/assets/images/suspension-brands.png">
</div>