<div class="feature__wrapper" style="border-bottom: 0;">
  <h2>Our Specialties</h2>
  <ul style="list-style: none; display: inline;">
    <li style="display: inline;">Wheel Builds, </li>
    <li style="display: inline;">Suspension Service, </li>
    <li style="display: inline;">Dynamo Lighting, </li>
    <li style="display: inline;">Tubeless Setup, </li>
    <li style="display: inline;">Custom Builds & Mods, </li>
    <li style="display: inline;">Rider Comfort</li>
</ul>
</div>
<div class="feature__wrapper" style="border-bottom: 0;">
    <h2>Labor Menu</h2>
    <div style="display: flex; flex-wrap: wrap;">
        <div style="flex-grow: 1;">
            <ul style="list-style: none;">
                <li>Wheel Build &middot; $75/wheel</li>
                <li>Custom Bike Build / Overhaul &middot; $250+</li>
                <li>Annual Tune-Up &middot; $180</li>
                <li>Standard Tune-Up &middot; $80</li>
                <li>Single Speed / Seasonal Safety Check &middot; $50</li>
                <li>
                  Basic Fork Service &middot; $40
                  <br>
                  &nbsp;&nbsp;<small>Remove lower legs, cleaning and inspection, replace bath oil and main seals, crush washers and travel o-ring.</small>
                  <br>
                  &nbsp;&nbsp;<small>Parts will vary, most fork leg seal kits are $25-$40.</small>
                </li>
                <li>
                  Full Fork Service &middot; $80+
                  <br>
                  &nbsp;&nbsp;<small>Includes basic service plus a full rebuild of the damper and air spring if applicable.</small>
                </li>
                <li>
                  Rear Shock Air Can Service &middot; $40
                  <br>
                  &nbsp;&nbsp;<small>Remove air can, inspect and clean, replace air seals and lubricant.</small>
                  <br>
                  &nbsp;&nbsp;<small>Parts will vary, most shock air can kits are $15-$25.</small>
                </li>
                <li>
                  Rear Shock Full Service &middot; $80+
                  <br>
                  &nbsp;&nbsp;<small>Air and coil spring damper service. Full rebuild on the damper and air can; new seals, vacuum bleed with fresh damper oil and nitrogen charge.</small>
                  <br>
                  &nbsp;&nbsp;<small>Parts from $25-$50.</small>
                </li>
                <li>Brake Bleed &middot; $30/brake</li>
                <li>Tube Install &middot; $10 - $20</li>
                <li>Brake Pad Install &middot; $10 - $20</li>
                <li>Chain / Cassette &middot; $15 - $30</li>
                <li>Cable Install &middot; $20+</li>
                <li>Bar Wrap &middot; $20</li>
                <li>Adjustments  &middot; $15 - $35</li>
                <li>Wheel True &middot; $20 - $30</li>
                <li>Bike Assembly &middot; $60+</li>
                <li>Bike Boxing &middot; $80+</li>
                <li>Fenders / Racks / Dynamos / Weird Stuff &middot; By Appointment</li>
                <li><small>Need an asssessment? Shoot me a text, <a href="mailto:sean@easternwheelworks.com">email</a>, or call.</small></li>
                <li><small><a href="t:5417865523">541-786-5523</a></small></li>
            </ul>
        </div>
        <div style="flex-grow: 1; max-width: 600px;">
            <img src="/assets/images/shop-window.jpg">
        </div>
    </div>
</div>
<div class="feature__wrapper" id="quote" style="border-bottom: 0;">
  <h2>Schedule service or an in-person appointment at the shop</h2>
  <div style="width: 80%; margin: 0 auto;">
    <p>If you're in NE Oregon and need your bike tuned-up, suspension serviced, or a new set of wheels, book some time to come by the shop. Or come by during our regular hours: Wednesday - Saturday, 11 - 4.</p>
    <center>
     <!-- Start Square Appointments Embed code --><a style=" background-color: #3b9cba; color: white; height: 40px; text-transform: uppercase; font-family: 'Square Market', 'helvetica neue', helvetica, arial, sans-serif; letter-spacing: 1px; line-height: 38px; padding: 0 28px; border-radius: 3px; font-weight: 500; font-size: 14px; cursor: pointer; display: inline-block; " href="https://squareup.com/appointments/buyer/widget/fys8rebsxewm8x/LQMW4ETYMH8VX">Book an Appointment</a><!-- End Square Appointments Embed code -->
 </center>
</div>
</div>